
/*-----Reset CSS-----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----Reset CSS-----*/



html,body{
    height: 100%;
}
*{
    font-family:Arial, Helvetica, sans-serif;
}
.main_wrapper {
    padding-top: 141px;
}


header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 10px;
   box-shadow: 0 0 6px #0000004a;
}
.inner_header{
    width: 1170px;
    margin: 0 auto;
    clear: both;
}

.brand_logo{
    float: left;
}
.nav{
    float: right;
}
.nav ul{
    margin-top: 32px;
}

.nav ul li{
    display: inline-block;  
}

.nav a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
}
.nav a:hover{
    color: #f00;
}

/* .clearfix {
    overflow: auto;
    position: relative;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */


.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}


#home{
    margin-left: 250px;
}
.firstpage{
    border: 1px solid black;
    float: left;
    width: 100%;
}
.left{
    margin: 20px 0px 0px 10%;
    width: 35%;
    height: 395px;
    float: left;
    padding: 100px 100px;
    border: 1px solid black;
}
.left h1{
    font-size: 40px;
}
.left span{
    color: rgb(233, 144, 12);
}
.left p{
    color: rgb(155, 155, 155);
}
.right{
    float:right;
    margin: 20px 5% 0px 0px;
    width: 35%;
    height: 590px;
    border: 1px solid black;
}
.right img{
    width:100%;
    height:100%;
}

.admission{
    border:1px solid black;
    margin-top:40%;
    height: 800px;
    width:100%;
}
.admission h1{
    font-size: 40px;
    text-align: center;
}
.admission img{
    margin-top: 75px ;
    margin-left: 80px;
    width: 127px;
    height:136px;
    padding :25px 25px;
}
.news{
    border:1px solid black;
    margin-top:5%;
    margin-left: 10%;
    height: 600px;
    width:80%;
}
.news h1{
    font-size: 40px;
    text-align: center;
}
.pics{
    margin-top: 20px ;
    margin-left: 100px;
    float: left;
    width: 235px;
    height:285px;
    padding :25px 25px;
}
.arrow{
    margin-top: 150px ;
    margin-left: 85px;
    float: left;
    width: 1px;
    height:1px;
    padding :25px 25px;   
    background-image: cover; 
    background-repeat: no-repeat;
}
.sub{

    background-color: white;
}
.gallery{
    border:1px solid black;
    margin-top:5%;
    margin-left: 5%;
    height: 800px;
    width:90%;
 } 
 .gallery h1{
     font-size: 40px;
     margin-left: 60px;
 }
.gallery p{
    color: rgb(233, 144, 12);
    font-size: 20px;
    margin-left: 60px;
}
.photos{
    border:1px solid black;
    margin-top: 20px ;
    margin-left: 60px;
    float: left;
    width: 370px;
    height:250px;
    padding :25px 25px;    
}
