*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image:url('back-img.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
}

.container{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.nav{
    position: absolute;
    top: 0;
    left: 45%;
    width: 53%;
    height: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar{
    position: absolute;
    left: 0;
    top: 38%;
    width: 10%;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.side-img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 11%;
    height: 10%;
    text-align: center;
    margin-top: 2%;
}
    


.side-img{
    width: 38%;
    height: 78px;
}


.img-box{
    /* margin-bottom: 26%; */
    width: 40px;
    padding: 6.5%;
    display: flex;
    justify-content: center;
    height: 40px;
}

/* .img-icon{
    height: 20px;
    width: 20px;
} */

.nav-heading{
    text-decoration: none;
    color: white;
    margin-bottom: -4%;
    margin-right: 6%;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.nav-heading:hover{
    color:goldenrod;
}

.main{
    position: absolute;
    top: 35%;
    left: 20%;
}

.golden{
    color:goldenrod;
}

.white{
    color: white;
}

.main-text{
    font-size: 69px;
    margin-bottom: 1%;
    font-family: 'Roboto', sans-serif;
}

.sub-text{
    font-size: 21px;
    line-height: 168%;
    font-family:Arial, Helvetica, sans-serif;
}
.img-box:hover{
    
    border-radius:20px;
    background-color:blue;
    cursor: pointer;
}




