*{
    padding: 0px;
    margin: 0px;
}

.logo,.heading,.login-items{
    text-align: center;
    margin: 5%;
    font-size: 177%;
}

#facebook,#google{
    width: 86px;
    height: 85px;
    margin: 1%;
    cursor: pointer;
}

.division{
    display: flex;
    width: 102%;
    justify-content: center;
    align-items: center;
}

.center{
    padding: 0% 1%;
    /* margin: 0% 4%; */
}

.dot-left{
    border-top: dashed;
    width: 26%;
}

.dot-right{
    border-top: dashed;
    width: 26%;
}


#VD{
    width: 354px;
    height: 200px;
}

form{
   
    width: 100%;
    
}

.last-line{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 54%;
    margin-left: 25%;
}



#email{
    margin-top: 5%;
    margin-bottom: -1%;
    width: 50%;
    padding: 1.5%;
}

#password{
    width: 50%;
    padding: 1.5%;
}

#login{
    width: 54%;
    padding: 1.5%;
    background-color: maroon;
    color: white;
}

input{
    margin-left: 25%;
    border-radius: 2px;
}

a{
    margin-right: 21.5%;
}

.last-item{
    margin-left: 48%;
}

#signup{
    color:maroon;
}

