/*-----Reset CSS-----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,body{
    height:100%;
}

.main-wrapper{
    
    position:relative;
    height:100%;
} 




/* CSS for header section */

header{
    position:fixed;
    top:0;
    left:0;
    z-index:1; 
    width: 100%;
    height: 123px;
    /* border: 2px solid red; */
    box-shadow: 2px 2px 2px;
    background-color:white;
}

.head-wrapper{
    
    
    height: 100%;
    display:flex;
    align-items:center;
    /* border: 2px solid green; */
}

.logo-img{
    margin-left: 10%;
    margin-right: 5%;
   
}

.logo-img img{
    width: 101px;
    height: 98px;
}

nav{
    width:70%;
}

.nav-items{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    list-style-type:none; 
}

.nav-item{
    margin: 23px;
}

a{
    display: block;
    text-decoration: none;
    font-size: 27px;
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
}



/* CSS for home section */

.home{
    /* position: absolute;
    top: 140px;
    left: 0; */
    margin: 10% 2% 2% 2%;
    height: 763px;
}

.home-container{
    display:flex;
    justify-content:space-around;
}

.left-home-section{
    display: flex;
    flex-direction: column;
    width: 42%;
    margin-left: 7%;
}


h1{
    font-size: 59px;
    font-family: 'Raleway', sans-serif;
    color: #534847;
    margin-top: 17%;
}

.sub-heading{
    margin-left: 1%;
    margin-top: 5.5%;
    width: 76%;
    font-size: 24px;
    font-family: 'Lexend', sans-serif;
    color: #a99b96;
}

.golden{
    color:#eebc76;
}

.right-home-section{
    width:40%;
}

.right-home-section figure .main-img{
    width: 98%;
    height: 763px;
    
}

.arrow-bar{
    position: absolute;
    right: 39px;
    bottom: 185px;
    margin-right: 3.3%;
    width: 15.5%;
    height: 13.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.arrow{
    width: 24%;
    height: 59%;
    margin: 6% 1.5%;
}

/* CSS for about section */
.about{
    width: 100%;
    height: 758px;
    /* position: absolute;
    top: 1041px; */
}

.about-container{
    display: flex;
    
    height: 100%;
    margin-top: 7%;
}


/* .left-about-section{
    width: 48%;
    height: 95%;
    margin-right: 3%;
    margin-top: 2%;
}

.left-about-section figure img{
    width: 89%;
    height:584px;
    margin-left: 6%;
    margin-top: 2.5%;
} */

.right-about-section{
    width: 161%;
    height: 90%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #faf8fb;
    position: relative;
}

.about-img{
    position: absolute;
    right: 80%;
    top: 10%;
    width: 50%;
}

.about-img img{
    width:100%;
    height:558px;
}

.about-heading{
    margin-bottom: 6%;
    margin-top: 7%;
    margin-left: 30%;
}

.about-heading h2{
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    color: #534847;
}



.para{
    margin-bottom: 3%;
    margin-left: 30%;
    width: 54%;
    font-size: 21px;
    font-family: 'Lexend', sans-serif;
    color: #b39990;
    font-weight: lighter;
    
}

.button{
    width: 36%;
    height: 62px;
}


.button button{
    background-color: #e9b643;
    color: white;
    width: 52%;
    height: 100%;
    margin-left: 84%;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
}


/* CSS for admission section */
.admission{
    width:100%;
    height:699px;
    /* position:absolute;
    top:2074px; */
    
}



.admission-main-heading{
    margin-top: 10%;
    margin-left: 28%;
    text-align: center;
} 

 .admission-main-heading h2{
    font-size: 59px;
    font-family: 'Raleway', sans-serif;
    color: #534847;
    width: 58%;
    text-align: center;
} 


.admission-icons{
    display: flex;
    width: 100%;
    height: 44%;
    margin-top: 7%;
    justify-content: space-around;
}

.icon{
    width: 16%;
    height: 101%;
    
    text-align: center;
}

.icon img{
    height: 31%;
    width: 46%;
}

 .icon-heading{
    margin-top: 20%;
    margin-bottom: 12%;
    margin-left: 8%;
    margin-right: 8%;
}

.mid-heading{
    margin-bottom: 12.5%;
}

 .icon-heading h2{
    font-family: 'Raleway', sans-serif;
}

 .icon-subheading{
    margin: 0% 19%;
    font-family: 'Lexend', sans-serif;
    color:#b39990;
    font-weight: bolder;
}


/* CSS for news and events section */

.news-events{
    /* position: absolute;
    top: 3123px; */
    width: 99.8%;
    height: 700px;
    
}

.news-events-container{
    display: flex;
    flex-direction: column;
    margin-top: 9%;
}

.news-events-heading h2{
    font-size: 59px;
    font-family: 'Raleway', sans-serif;
    color: #534847;
    width: 58%;
    text-align:center;
    margin:2% auto;
}

.news-images{
    display:flex;
    justify-content:center;
    align-items:center;
}

.news-images img,.news-images figure{
    margin: 2.5% 4%;
}

.news-images figure{
   position:relative;
}

.carasoul-arrow{
   height:60px;
   width:60px;
}

.msg-bar{
    position: absolute;
    left: 11px;
    bottom: 11px;
    width: 166px;
    height: 28px;
    padding-top: 8%;
    background-color: #f9f9f9;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
    color:black;
}


/* CSS for gallery section */
.gallery{
    /* position:absolute;
    top:4073px; */
    height:800px;
    width:99.8%;
}

.gallery-container{
    display:flex;
    flex-direction: column;
    background-color: #faf8fb;
}

.gallery-heading h2 a{
    font-size: 54px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    color: #534847;
    margin: 2% 10%;

}

.gallery-subheading{
    font-family: 'Lexend', sans-serif;
    font-weight:bolder;
    margin-left: 10%;
    margin-bottom: 2%;
}

.line{
    color:#faf8fb;
    color: #faf8fb;
    text-decoration-line: line-through;
    text-decoration-color: #eebc76;
}

.gallery-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
}

.gallery-images img{
    margin: 1%;
    width: 454px;
    height:294px;
}










