
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative; 
    height: 100vh;
    width: 100vw;
    
}

.sidebar{
    position: absolute;
    left: 0;
    top: 0; 
    height: 100%;
    width: 20%;
    background-color: rgb(226, 175, 126)
}

.nav{
    display: flex;
    align-items: center;
    position: absolute;
    left: 20%;
    top: 0;
    width: 80%;
    height: 10%;
    border-bottom: 2px solid grey;
   
}

.home{
    position: absolute;
    left: 20%;
    top: 10%;
    width: 80%;
    height: 10%;
   
}

.sub-container{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 80%;
    height: 70%;
  
    background: rgb(218, 213, 213)
}


.sub-heading{
    width: 100%;
    height: 13%;
   
}


.cards{
    
    height: 65%;
    width: 100%;
}

.cards-row-1{
   height: 65%;
   width: 100%;
  
   margin-top: -1%;
   display: flex;
   flex-direction:row;
   justify-content: space-around;
}

.cards-row-2{
   height: 65%;
   width: 100%;
   display: flex;
   flex-direction:row;
   justify-content: space-around;
}

.footer{
    
    position: absolute;
    left: 20%;
    top: 90%;
    width: 80%;
    height: 10%;
   
    background: rgb(131, 125, 125);
}

.img{
    width: 30%;
    height: 98%;
    background-color: white;
    
}


.heading{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-top: 3%;
}

.logo{
    width:21%;
    height:5%;
    margin-left: 7%;
    margin-right: 2%;
}

.first-heading{
    margin-top: 2%;
    color: maroon;
    font-size: 33px;
}

.li{
    margin-top: 11%;
    margin-bottom: 11%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 3%;
}

.list-item{
   text-decoration: none;
   color: black;
   margin-left: 13%;
   font-size: 22px;
}

.list-icon{
    margin-left: 9%;
}

.li:hover{
    background:maroon;
    color:white;
}

.list-item:hover{
    color:white;
}

.search-bar{
    height: 100%;
    width: 65%;
    font-size: 19px;
}

input{
    height: 100%;
    width: 65%;
    font-size: 19px;

    border: none;
}

.nav-icon{
    width: 3%;
    height: 29%;
    margin: 1%;
    color: maroon;
    cursor: pointer;
}

h4{
    margin-top: 2.5%;
    font-size: 20px;
    margin-left: 1%;
}

.sub-heading-item{
    text-decoration: none;
    color: grey;
    margin: 2%;
}

.sub-heading-item:hover{
    text-decoration: underLine;
    color: maroon;

}

.item-bar{
    margin-top: 2%;
}

.profile-pic{
    width: 5%;
     border-radius: 50%; 
    margin-right: 2%;
}

.name{
    text-decoration: none;
    color: grey;
    margin-top: 2%;
}

.down-arrow{
    color: grey;
    margin-left: 2%;
}

.last-logo{
    float: left;
    width: 9%;
    height: 52%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.last-heading{
    color: maroon;
    float: left;
    margin-top: 3%;
}

p{
    float: right;
    margin: 3%;
    
}

.card-image{
    width: 100%;
    height: 68%;
}

button{
    background: maroon;
    border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4%;
    margin-top: 2%;

}

.like{
    margin-top:2%;
}

.card-last{
    color: grey;
    margin: 2%;
}

.card-profile-pic{
    width: 9%;
   
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 16px;

}

.user{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

.user-left{
    width: 70%;
    display: flex;
}

.user-right{

}


